/PhysicalDataReaderLib.xcodeproj/xcuserdata/oll.xcuserdatad/xcschemes/xcschememanagement.plist
/PhysicalDataReaderLib.xcodeproj/project.xcworkspace/xcuserdata/oll.xcuserdatad/UserInterfaceState.xcuserstate
/PhysicalDataReaderLib/.DS_Store
